<script src="http://projects.sfchronicle.com/shared/js/jquery.min.js"></script>

<!-- Treg & Syncronex -->
<script type="text/javascript" src="http://treg.hearstnp.com/treg.js"></script>
<script type="text/javascript" src="http://www.sfchronicle.com/js/hdn/omniture/syncronex.js"></script>
<script type="text/javascript" src="https://syncaccess-hst-sfc.syncronex.com/hst/sfc/api/scripts/syncwall"></script>

<!-- Begin Hearst analytics -->
<script type="text/javascript">
    var hash = window.location.hash;
    var omni_channelPath = "Sports :: Special Report";
    var omni_title = "Timeline: Significant moments in the history of women’s sports.";
    var omni_paywallSite = "1";
    var omni_className = "channel";
    var omni_publicationDate = "2016-07-29 00:01:00";
    var omni_authorName = "Ann Killion";
    var omni_authorTitle = "San Francisco Chronicle staff";
</script>
<!-- Hearst analytics: Ensighten -->
<script type="text/javascript">
  (function(e) {
    var t = '//nexus.ensighten.com/hearst/news/Bootstrap.js';
    if (e.cookie.indexOf("nsghtn") > -1) {
      if(e.cookie.indexOf("nsghtn=test-dev") > -1) {
      console.log("Ensighten :: Test-Dev"); t = "//nexus-test.ensighten.com/hearst/news-dev/Bootstrap.js";
      } else if(e.cookie.indexOf("nsghtn=test") > -1) {
      console.log("Ensighten :: Test"); t = "//nexus-test.ensighten.com/hearst/news/Bootstrap.js";
      } else if(e.cookie.indexOf("nsghtn=dev") > -1) {
      console.log("Ensighten :: Dev"); t = "//nexus.ensighten.com/hearst/news-dev/Bootstrap.js";
      }
    }
    e.write("<scr"+"ipt src='"+e.location.protocol+t+"'></scr"+"ipt>");
  })(document);
</script>
<!-- End Hearst analytics: Ensighten -->
<!-- End Hearst analytics -->
