<header class="fixed">
  <div class="navigation">

    <a href="http://www.sfchronicle.com" target="_blank">
      <div class="logo-link link">
          <img src="http://projects.sfchronicle.com/shared/logos/sfc_logo_black.png">
        </div>
    </a>


    <div class="link social email">
      <a id="mail-icon" title="Share via email" href="mailto:?subject=Timeline: History of women’s sports&body=While the 1996 Summer Olympics in Atlanta marked a watershed moment, these are some of the other significant moments in women's sports history. http://projects.sfchronicle.com/2016/summer-of-women/">
        <i class="fa fa-envelope" aria-hidden="true"></i>
      </a>
    </div>

    <div class="link social">
      <a id="facebook-icon" title="Share on Facebook" href="#" target="_blank" onclick="window.open('https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Fprojects.sfchronicle.com%2F2016%2Fsummer-of-women%2F', 'facebook-share-dialog', 'width=626,height=436'); return false;">
        <i class="fa fa-facebook"></i>
      </a>
    </div>

    <div class="link social">
      <a id="twitter-icon" title="Share on Twitter" href="https://twitter.com/intent/tweet?url=http%3A//projects.sfchronicle.com/2016/summer-of-women/&amp;text=Timeline: Significant moments in the history of women’s sports.">
        <i class="fa fa-twitter"></i>
      </a>
    </div>

  </div>
</header>
